body {
    background: #ece5dd;
    font-family: Arial;
}

.chat-container {
    width: 400px;
    margin: 40px auto;
    background: white;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.header {
    background: #075e54;
    color: white;
    padding: 10px;
}

#chat-box {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.user-msg {
    background: #dcf8c6;
    margin: 5px;
    padding: 8px;
    text-align: right;
}

.bot-msg {
    background: #f1f0f0;
    margin: 5px;
    padding: 8px;
}

.input-area {
    display: flex;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    background: #075e54;
    color: white;
}
