body {
  font-family: Arial;
  text-align: center;
  margin-top: 50px;
}

textarea {
  width: 300px;
  height: 100px;
}

select, button {
  margin: 10px;
  padding: 8px;
}

#output {
  margin-top: 20px;
  font-size: 18px;
  color: green;
}